<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">@Html.ActionLink("Resistor Color Code Decrypter", "Index", "Home")</p>
        </div>
        <div class="float-right">
            <nav>
                <ul id="menu">
                    <li>@Html.ActionLink("Decrypter", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>
            </nav>
        </div>
    </div>
</header>